<div class="container">
  <nav class="sidebar">
    <ul>
      <li *ngFor="let item of menuItems" class="menu-item">
        <button (click)="openModal(item)" class="menu-link">
          <i class="iconify" [attr.data-icon]="item.icon"></i>
        </button>
        <span class="menu-label">{{ item.label }}</span>
      </li>
    </ul>
  </nav>

  <!-- Fenêtre modale -->
  <div class="card-content" [ngClass]="{ 'is-open': isModalOpen }">
    <div class="modal-header">
      <h2>{{ selectedItem?.label }}</h2>
      <button class="close-btn" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="card-body">

      <div class="categories-content">
        <div class="search-container">
          <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="filterItems()">
          <button><i class="iconify" data-icon="mdi:magnify"></i></button>
        </div>

        <div class="categories-wrapper">
          <button class="nav left" (click)="scrollLeft()">❮</button>

          <div class="categories-container" #menuContainer>
            <button *ngFor="let item of filteredItems; let i = index" class="menu-items"
              [class.active]="selectedItem === item" (click)="openModal(item)" [id]="'menu-item-' + i">
              {{ item.label }}
            </button>
          </div>

          <button class="nav right" (click)="scrollRight()">❯</button>
        </div>
      </div>

      <div class="category-content">
        <!-- Affiche le tableau si "Template" est sélectionné -->
        <div *ngIf="selectedItem?.label === 'Template'">
          <app-table-comp class="draggable" style="zoom: 0.3;" (dragstart)="startDrag($event)"
            draggable="true"></app-table-comp>
          <span class="shape-name">table</span>
        </div>
        <!-- Affiche le tableau si "Button" est sélectionné -->
        <div *ngIf="selectedItem?.label === 'Button'">
          <button style="width: 150px;" id="draggable-button" draggable="true" class="draggable"
            (dragstart)="startDrag($event)">Text</button>
          <span class="shape-name">button</span>
        </div>

        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="circle draggable" id="draggable-circle" draggable="true" (dragstart)="startDrag($event)"></div>
          <span class="shape-name">circle</span>
        </div>

        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="rectangle draggable" id="draggable-rectangle" draggable="true" (dragstart)="startDrag($event)">
          </div>
          <span class="shape-name">rectangle</span>
        </div>


        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="rounded-rectangle draggable" id="draggable-rounded-rectangle" draggable="true"
            (dragstart)="startDrag($event)"></div>

          <span class="shape-name">rounded rectangle</span>
        </div>
        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="rounded-rectangle draggable" id="draggable-rounded-rectangle" draggable="true"
            (dragstart)="startDrag($event)"></div>

          <span class="shape-name">rounded rectangle</span>
        </div>
        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="rounded-rectangle draggable" id="draggable-rounded-rectangle" draggable="true"
            (dragstart)="startDrag($event)"></div>

          <span class="shape-name">rounded rectangle</span>
        </div>

        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="horizontal-line draggable" id="draggable-horizontal-line" draggable="true"
            (dragstart)="startDrag($event)"></div>
          <span class="shape-name">horizontal line</span>
        </div>

        <div *ngIf="selectedItem?.label === 'Shape'">
          <div class="vertical-line draggable" id="draggable-vertical-line" draggable="true"
            (dragstart)="startDrag($event)"></div>
          <span class="shape-name">vertical line</span>
        </div>

        <div *ngIf="selectedItem?.label === 'Text'">
          <p class="text draggable" id="draggable-text" draggable="true" (dragstart)="startDrag($event)">
            text</p>
          <span class="shape-name">text</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Zone cible pour le drag-and-drop -->
<div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p class="msg" *ngIf="!hasClonedTable"> Déposez ici !</p>
</div>