/* Conteneur principal */
.container {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 280px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 100;
}

/* Sidebar */
.sidebar {
  width: 64px;
  background-color: #121212;
  color: white;
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
  margin: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

    .menu-label {
      font-size: 13px;
    }
  }

  .menu-link {
    background: none;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

/* Modale */
.card-content {
  flex: 1;
  background-color: #e6e2e2;
  padding: 20px;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: none;
  overflow-y: auto;
  width: 300px;

  &.is-open {
    display: block;
    z-index: 10;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    h2 {
      margin: 0;
      font-size: 18px;
    }

    .close-btn {
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .card-body {
    max-height: 400px;
    overflow-y: auto;

    app-table-comp {
      width: 100%;
      table {
        font-size: 14px;
      }
    }
  }
}

/* Zone cible pour le drag-and-drop */
.drop-zone {
  position: relative; // Changé à relative
  border: 2px dashed #ccc;
  padding: 20px;
  width: 80vw;
  min-height: 200px;
  background-color: #f9f9f9;
  height: 50vh;
  overflow: auto;
  left: 50%;
  translate: -50%;
  top: 100PX;

  &:hover,
  &.dragging-over {
    background-color: #e6f7ff;
    border-color: green;
  }

  /* Style pour le tableau cloné */
  .cloned-table {
    opacity: 1;
    position: absolute;
    pointer-events: auto;

    /* Bouton "Supprimer" */
    .remove-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 50%;
      font-size: 14px;

      &:hover {
        background-color: darkred;
      }
    }
  }
}

/* Effet visuel lors du drag */
.dragging {
  opacity: 0.5;
  border: 2px dashed #007bff;
}