<div class="container">
  <nav class="sidebar">
    <ul>
      <li *ngFor="let item of menuItems" class="menu-item">
        <button (click)="openModal(item)" class="menu-link">
          <i class="iconify" [attr.data-icon]="item.icon"></i>
        </button>
        <span class="menu-label">{{ item.label }}</span>
      </li>
    </ul>
  </nav>

  <!-- Fenêtre modale -->
  <div class="card-content" [ngClass]="{ 'is-open': isModalOpen }">
    <div class="modal-header">
      <h2>{{ selectedItem?.label }}</h2>
      <button class="close-btn" (click)="closeModal()">×</button>
    </div>
    <div class="card-body">
      
      <p *ngIf="!selectedItem">Sélectionnez un élément.</p>

      <div class="search-container">
        <input type="text" placeholder="Search">
        <button><i class="iconify" data-icon="mdi:magnify"></i></button>
      </div >
      <div *ngFor="let item of menuItems" class="menu-item">
        <button (click)="openModal(item)">{{ item.label }}</button></div>
           
      <!-- Affiche le tableau si "Template" est sélectionné -->
      <app-table-comp class="draggable" style="zoom: 0.3;" *ngIf="selectedItem?.label === 'Template'"
        (dragstart)="startDrag($event)" draggable="true"></app-table-comp>

     <!-- Affiche le tableau si "Button" est sélectionné -->      
        <button style="width: 150px;" id="draggable-button" draggable="true" class="draggable"
       *ngIf="selectedItem?.label === 'Button'" (dragstart)="startDrag($event)">Text</button>

      
       <div class="circle draggable" id="draggable-circle" draggable="true"  *ngIf="selectedItem?.label === 'Shape'" (dragstart)="startDrag($event)"></div>
       <div class="rectangle draggable" id="draggable-rectangle" draggable="true" *ngIf="selectedItem?.label === 'Shape'" (dragstart)="startDrag($event)"></div>
       <div class="rounded-rectangle draggable" id="draggable-rounded-rectangle" draggable="true" *ngIf="selectedItem?.label === 'Shape'" (dragstart)="startDrag($event)"></div>
       <div class="horizontal-line draggable" id="draggable-horizontal-line" draggable="true"  *ngIf="selectedItem?.label === 'Shape'" (dragstart)="startDrag($event)"></div>
       <div class="vertical-line draggable"  id="draggable-vertical-line" draggable="true" *ngIf="selectedItem?.label === 'Shape'" (dragstart)="startDrag($event)"></div>
        
       <p class="text draggable"  id="draggable-text" draggable="true" *ngIf="selectedItem?.label === 'Text'" (dragstart)="startDrag($event)">
        text</p>
      
    </div>
  </div>
</div>

<!-- Zone cible pour le drag-and-drop -->
<div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p class="msg" *ngIf="!hasClonedTable"> Déposez ici !</p>
</div>