<div class="container">

  <div class="circle"></div>
  <div class="rectangle"></div>
  <div class="rounded-rectangle"></div>
  <div class="horizontal-line"></div>
  <div class="vertical-line"></div>


  <!-- Bouton principal -->
  <button
    class="configurable-button"
    [style.background-color]="buttonStyle.backgroundColor"
    [style.color]="buttonStyle.color"
    [style.font-size]="buttonStyle.fontSize"
    (click)="openModal()"
  >
    Configurer Moi !
  </button>

  <!-- Modal de configuration -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2>Configurer le Bouton</h2>
      <button class="close-btn" (click)="closeModal()">Fermer</button>

      <!-- Sélecteur de couleur de fond -->
      <h3>Couleur de Fond</h3>
      <input
        type="color"
        [(ngModel)]="buttonStyle.backgroundColor"
        class="color-picker"
      />

      <!-- Sélecteur de couleur du texte -->
      <h3>Couleur du Texte</h3>
      <input
        type="color"
        [(ngModel)]="buttonStyle.color"
        class="color-picker"
      />

      <!-- Sélecteur de taille du texte -->
      <h3>Taille du Texte</h3>
      <input
        type="range"
        min="12"
        max="32"
        step="2"
        (input)="onFontSizeChange($event)" 
        class="size-picker"
      />
      <span>{{ buttonStyle.fontSize }}</span>
    </div>
  </div>
</div>
