.sidenav {
  width: 15rem; /* Largeur étendue */
  height: 100vh;
  background-color: rgb(18, 18, 18);
  z-index: 10; /* Assurez-vous que le side nav reste au premier plan */
  transition: all 0.3s ease;
  border-right: 1px solid #ffffff21;

  &-collapsed {
    width: 5rem; // Largeur réduite

    .logo-container {
      .logo-text {
        display: none;
      }

      .btn-close {
        display: none;
      }
    }

    .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
      display: none;
    }
  } 

  .logo-container {
    display: flex;
    align-items: center;
    padding: 32px 16px 10px;
    width: 100%;

    .logo {
      text-align: center;
      width: 60px;
      min-width: 3rem;
      border-radius: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
      background-color: unset !important;

      img {
        width: 100%;
      }
    }

    .logo-text {
      margin-left: 10px;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      display: flex;
      flex-direction: column;

      span:first-child {
        font-size: 26px;
      }

      span:last-child {
        font-size: 8px;
        font-weight: 300;
      }
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }
  }

  .sidenav-nav {
    list-style: none;
    padding: 32px 16px 24px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    gap: 5px;

    .sidenav-nav-item {
      width: 100%;
      height: 38px;
      display: flex;
      align-items: center;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 100%;
        color: #f3f3f3;
        text-decoration: none;
        border-radius: 5px;
        transition: color 0.3s ease;
        width: 100%;
        gap: 10px;
        padding: 8px 15px;

        .sidenav-link-icon {
          font-size: 17px;
          width: 2rem;
          min-width: 2rem;
          text-align: center;
        }

        .sidenav-link-text {
          font-weight: 400;
          font-size: 15px;
        }

        &:hover {
          background-color: #ffffff11;

          &.active {
            background-color: #EAB347;
            
          }
        }
      }
    }
  }
  
  .active{
    background-color: #EAB347;
    
    .sidenav-link-icon,.sidenav-link-text{
     color: #ffffff
    }
  }

}