.sidenav {
    // background: #263238;
    // transition: all 0.3s ease;
    // position: fixed;
    // z-index: 1;
    // top: 0;
    // width: 15rem; // Largeur par défaut
    // height: 100vh;
    // box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 15rem; /* Largeur étendue */
    height: 100vh;
   
    background-color: rgb(18, 18, 18);
    z-index: 10; /* Assurez-vous que le side nav reste au premier plan */
    transition: all 0.3s ease;
  
    &-collapsed {
      width: 5rem; // Largeur réduite
  
      .logo-container {
        .logo-text {
          display: none;
        }
  
        .btn-close {
          display: none;
        }
      }
  
      .sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
        display: none;
      }
    }
  
    .logo-container {
      display: flex;
      align-items: center;
      padding: 0.938rem;
      width: 100%;
  
      .logo {
        background: #fff;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
      }
  
      .logo-text {
        margin-left: 1.5rem;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
      }
  
      .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;
  
        .fa-times {
          color: #fff;
          font-size: 24px;
        }
      }
    }
  
    .sidenav-nav {
      list-style: none;
      padding: 0.938rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100% - 3.65rem);
  
      .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
  
        .sidenav-nav-link {
          display: flex;
          align-items: center;
          height: 3rem;
          color: #f3f3f3;
          text-decoration: none;
          border-radius: 0.625rem;
          transition: color 0.3s ease;
  
          .sidenav-link-icon {
            font-size: 22px;
            width: 2rem;
            min-width: 2rem;
            margin: 0 0.5rem;
            text-align: center;
          }
  
          .sidenav-link-text {
            margin-left: 1.5rem;
          }
  
          &:hover {
            background-color: #fff;
            color: #000;
          }
        }
      }
    }

    .active{
      background-color: #fff;
      .sidenav-link-icon,.sidenav-link-text{
       color: #000
      }
    }

  }