$primary-color : #3f51b5;


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 8px;
  text-align: center;

}

th {
  background-color: #ffffff;
  font-weight: bold;

  svg {
    margin-right: 10px;
    font-size: 17px !important;
  }

  span {
    line-height: 15px;
  }
}

th:first-child,
td:first-child {
  width: 50px;
}

.empty-message {
  text-align: center;
  font-style: italic;
  color: #888;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup h3 {
  margin-bottom: 10px;
  color: #333;
}

.empty-message {
  text-align: center;
  font-size: 18px;
  color: #777;
  padding: 15px;
}

.iconify {
  font-size: 20px;
}

.table-actions {
  display: flex;
  gap: 5px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 25px 15px;
}

.filtres {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  width: 90%;
  height: 40px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    border: unset;
    border-bottom: 2px solid #b9b9b9;
    border-radius: 6px;
    padding-inline: 10px;
    
    &:focus {
      outline: none; /* Supprime l'effet de focus */
      border: none;  /* Supprime la bordure */
      border-bottom: 2px solid #b9b9b9;
    }
  }

  svg {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 26px;
    color: #969696;
  }

  &:hover {

    svg {
      color: $primary-color;
    }
  }

  .clear-icon {
    position: absolute;
    right: 50px;
    top: 17px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: red;
    }
  }
}

.customFilters {



  .iconify {
    color: #747474;
    &:hover {
      color: red;
    }
  }
}

.selected-row {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

table {

  thead {
    height: 55px;
    tr{
      background-color: #f4f4f4;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      th {

        input {
          height: 35px;
          border-radius: 3px;
          padding-inline: 5px;
        }
      }
    }
  }

  tbody {

    td.actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;

        .iconify {
          font-size: 16px !important;
        }
      }

      .editing, .row-add {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
    }

    tr:nth-child(even){
      background-color: #e9e9e9;
    }

    .input-container {

      input {
        border: 1px solid #aeaeae;
        border-radius: 25px;
        padding-inline: 15px;
        height: 30px;
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  padding: 20px 0;

  .pagination {
    display: flex;
    align-items: center;

    .pages {
      font-size: 14px;
      color: #747474;
    }

    .iconify {
      font-size: 24px !important;
    }
  }

  .items-page {
    display: flex;
    align-items: center;
    gap: 16px;

    label {
      font-size: 14px;
      font-weight: 500;
      color: #747474;
    }

    select {
      height: 40px;
      padding: 10px 15px;
      border-radius: 5px;
    }
  }
}