/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import './assets/Styles/Design-system';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1.25rem 0 1.25rem 0;
  height: 150px !important;
  width: 220px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .card-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  }

  .card-body {
    padding: 1rem 1.5rem;
  }
}

.titre-style {
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
  text-align: inherit;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: inherit;
}

.text-card {
  margin: 0px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: inherit;
}

.icon-card {
  font-size: 40px;
  color: #dadada;
}

.remove-btn {
  background-color: transparent !important;
  border: none !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  cursor: pointer !important;
  font-size: 12px !important;
  width: 20px !important;
  height: 20px !important;
  display: none;
}

.draggable:hover {
  .remove-btn {
    display: block !important;
  }
}


.clone-container {

  margin: 0 !important;
  padding: 0 !important;


  .selected-component {

    outline: 0.5px solid #000000 !important;
    // box-shadow: 0 0 10px  rgb(23, 176, 236) !important;
    // outline-offset: 5px;

  }


}

default-table-filter input-filter input {
  background: #414141 !important;
  border: 1px solid #d3d3d3 !important;
  color: #d3d3d3 !important;
  text-align: center !important;
  height: 32px !important;

  &::placeholder {
    color: rgb(184, 184, 184) !important;
  }

  &:focus {
    box-shadow: unset !important;
  }
}

.ng2-smart-titles {
  display: none !important;
}

ng2-smart-table {

  tr {

    td {
      color: #d3d3d3 !important;
      text-align: center !important;
    }
  }
}

.ng2-smart-actions-title {

  a {
    height: 33px !important;
    width: 60px!important;
    display: block !important;
    background-color: #EAB347 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px !important;

    i {
      color: #ffffff !important;
    }
  }
}

.ng2-smart-actions {
  width: 60px !important;

  ng2-st-actions {
    display: flex;
    justify-content: space-around !important;

    .ng2-smart-action i {
      color: white !important;
    }
  }
}

input-editor {

  input,
  select {
    height: 35px !important;
    background-color: #dcdcdc !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-align: center !important;

    &:focus {
      box-shadow: unset !important;
      border: unset !important;
      outline: unset !important;
      transition: unset !important;
    }
  }
  

}